.top__image--2,
.top__image--3,
.top__image--4 {
  padding: .8rem;
  background: var(--Very-Dark-Blue);
  border-radius: var(--br);
  align-self: stretch;
}


.full-space {
  padding: .12rem .1rem;
  background-color: var(--Very-Dark-Blue);
  margin-top: 1rem;
  margin-bottom: .8rem;
  border-radius: 2rem;
  position: relative;
}

.space-used {
  padding: .12rem;
  background-image: linear-gradient(to right, var(--first-color), var(--second-color));
  margin-right: auto;
  border-radius: 2rem;
  width: 75%;
}

.progress {
  width: .6rem;
  height: .6rem;
  background-color: var(--Pale-Blue);
  border-radius: 100%;
  margin-left: auto;
}