.container {
  max-width: 70rem;
  padding: 3em 2.5em;
  margin: 0 auto;
 

  @media (min-width: 50rem) {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: none;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;

  @media (min-width: 31.25em) {
    max-width: 27rem;
    margin: 0 auto;
  }

  @media (min-width: 50em) {
    flex-direction: row;
    max-width: none;
    position: relative;
    width: 75%;
  }

  @media (min-width: 62.5em) {
    max-width: 55rem;
  }
}